<!DOCTYPE html>
<html>
<head>
  <title>NASA Mission Registry</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>

<!-- Content -->
  <div class="wrapper">
    <%= yield %>
    <div class="push"></div>
  </div>

<!-- Footer -->
  <div class="footer">
    <p><a href="http://www.nasa.gov/">NASA.gov</a> unaffiliated / Built December 19, 2013</p>
  </div>
  </div>
</body>

</html>